# Emacs temp buffer
*~

# ncspot 
ncspot/.config/ncspot/userstate.toml

# nvim
nvim/.config/nvim/plugged
nvim/.config/nvim/.netrwhist

# vifm
vifm/.config/vifm/vifminfo.json

# ZSH
.zcompdump
zsh/.config/zsh/.zcompdump

# Zathura
zathura/.config/zathura/zathurarc.backup
